<!-- username.erb -->

<div id="bet" class="well">
  <form action="/bet" method="POST">
      <h3>Place your bet, <%= session[:player_name] %>!</h3>
      <% if session[:total_cash].to_i > 0 %>
          <h4>You have $<%= session[:total_cash] %>.</h4>
          <h5>Minimum bet is $<%= session[:min_bet] %>.</h5>
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input id="bet_input" type="text" name="bet_input" value= '1000'>
          </div>
           <div id="slider_bet" data-min-bet="<%= session[:min_bet] %>"></div>
          <br>
        <script src="/bet.js" type="text/javascript"></script>
      <% else %>
        <div class="alert alert-error">
          Sorry <%= session[:player_name] %>. You need cash to play!
        </div>
      <% end %>  
 
       <% if session[:total_cash].to_i > 0 %>
        <input type="submit" value="Let Me Play!" class="btn btn-primary">
        <a href="/" class="btn">Never mind!</a>
      <% else %>
        <a href="/add_cash" class="btn btn-primary">Get more cash</a>        
        <a href="/" class="btn">Nah, I'm done!</a>
      <% end %>
  </form>
</div>

