<!-- game_end.erb -->

<h3><%= session[:win_msg] %></h3>
<ul class="inline">
  <li><a href="/reset">Reset</a></p>
  <li><a href="/new_game">New Game</a></p>
</ul>
<div>
  <h4>Your cards:</h4>
  <ul class="inline">
    <% session[:player_cards].each do |card| %>
      <li class="btn"><%= "#{card[0]} of #{card[1]}" %></li>
    <% end %>
  </ul>
</div>
Total: <%= "#{session[:player_value][:display]}" %>
<p><%= session[:player_msg] %></p>

<br>
<hr>

<div>
  <h4>Dealer's Cards:</h4>
  <ul class="inline">
    <% session[:dealer_cards].each do |card| %>
      <li class="btn"><%= "#{card[0]} of #{card[1]}" %></li>
    <% end %>
  </ul>
</div>
Total: <%= "#{session[:dealer_value][:display]}" %>
<p><%= session[:dealer_msg] %></p>