<!-- game_player.erb -->

<div id='game_container' class="container">
  
  <div id='player'>
    <div class='well <%= "active" if @player_active || @msg_type == "success" %> '>
      <h4><%= "#{session[:player_name]}"  %></h4>
      <ul class='inline'>
        <% session[:player_cards].each_with_index do |card, i| %>
          <li><img class='card img-polaroid <%= "new" if is_new_card(i, "player") && @player_active %>' src="<%= get_image(card) %>" alt=""></li>
        <% end %>
      </ul>
      <p><%= session[:player_msg] %></p>      
    </div>
    <div class='<%= "hidden" if !@player_active %>'>
      <form id='hit' action='/game/player/hit' method='post'>
        <input class="btn btn-large btn-success" type="submit" value="hit">
      </form>
      <form id="stay" action="/game/player/stay" method="post">
        <input class="btn btn-large btn-warning" type="submit" value="stay">
      </form>
    </div>
  </div>
  
  <div id="dealer">
    <div class='well <%= "active" if @dealer_active || @msg_type == "error" %>'>
      <h4>Dealer</h4>
      <ul class="inline">
        <% session[:dealer_cards].each_with_index do |card, i| %>
          <% if i == 0 && !session[:reveal_dealer] %>
            <li><img class='card img-polaroid <%= "new" if is_new_card(i, "dealer") %> <%= "hidden" if @hide_dealer_cards %>' src="/images/cards/cover.jpg" alt="cover.jpg"></li>
          <% else %>
            <li><img class='card img-polaroid <%= "new" if is_new_card(i, "dealer") %> <%= "hidden" if @hide_dealer_cards %>' src="<%= get_image(card) %>" alt=""></li>
          <% end %>
        <% end %>
      </ul>
      <p><%= session[:dealer_msg] if session[:reveal_dealer] %></p>
    </div>
    <div class='<%= "hidden" if !@dealer_active %>'>
      <form id="next" action="/game/dealer/next" method="post">
        <input class="hidden btn btn-small btn-info" type="submit" value="Dealer's next move...">
      </form>
    </div>
  </div>

  <!-- MODAL FOR END GAME -->
  <div id="end-modal" class="modal hide fade" data-backdrop="static" keyboard="false" aria-hidden="false">
    <div class="modal-header alert-<%= @msg_type %>">
      <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
      <h3><%= @end_msg_header %></h3>
    </div>
    <div class="modal-body">
      <h4><%= @end_msg %></h4>
      <% if @out_of_cash_msg %>
        <div class="alert alert-error"><%= @out_of_cash_msg %></div>
      <% end %>      
    </div>
    <div class="modal-footer">
      <% if @out_of_cash_msg %>
        <a href="/add_cash" class="btn btn-primary">Get more cash</a>
      <% else %>
        <a href="/bet" class="btn btn-primary">Play Again</a>
      <% end %>      
      <a href="/" class="btn">Nah, I'm done!</a>
    </div>
  </div>
 
 <!-- DISPLAY MODAL IF END GAME -->
  <% if @end_msg %>
      <script>
        // h-center the modal, since bootstrap doesn't do it
        var showModal = function() {
          $('#end-modal').modal('show').css({
             'margin-left': function () { 
                 return -($(this).width() / 2); 
             }
          });          
        }
        // display the modal after a short delay
        window.setTimeout(showModal, 1100);
      </script>
  <% end %>  
    
</div>  <!-- end game_container